.rooms_pane {
    -fx-pref-height: 665px;
    -fx-pref-width: 300px;
}

.rooms_pane .search_room_pane {
    -fx-pref-height: 35px;
    -fx-pref-width: 300px;
}

.rooms_pane .search_room_pane .search_room {
    -fx-pref-height: 26px;
    -fx-pref-width: 263px;
}

.rooms_pane .rooms_scroll {
    -fx-pref-height: 630px;
    -fx-pref-width: 300px;
}

.rooms_pane .rooms_scroll .rooms {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 634px;
    -fx-pref-width: 286px;
}

.room {
    -fx-min-height: 50px;
    -fx-pref-width: 298px;
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 255, 255, 0.19);
}

.room:hover {
    -fx-background-color: rgba(224, 200, 137, 0.57);
}

.room:selected {
    -fx-background-color: rgba(167, 100, 108, 0.61);
}

.room .title {
    -fx-border-insets: 0 0 0 20px;
    -fx-text-fill: rgba(0, 0, 0, 0.55);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.room .content {

}

.room .new_messages {
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-background-color: white;
    -fx-border-color: c477d3;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.room .new_messages .counter {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tool_pane {
    -fx-background-color: #EEFEFF;
}

.title_pane {
    -fx-pref-height: 35px;
    -fx-pref-width: 800px;
}

.title_pane .title {
    -fx-content-display: CENTER;
    -fx-pref-height: 30px;
    -fx-pref-width: 431px;
    -fx-text-fill: #c477d3;
    -fx-font-size: 20px;
}

.title_pane .search {
    -fx-cursor: HAND;
}

.message {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-insets: 15px;
    -fx-border-insets: 15px;
    -fx-pref-width: 350px;
    -fx-max-width: 775px;
    -fx-padding: 15px;
}

.message .inner {
}

.message .inner .content {
    -fx-wrap-text: true;
}

.message .inner .header .sender {
    -fx-font-weight: bold;
    -fx-pref-width: 250px;
    -fx-wrap-text: true;
}

.message .inner .header .sentDate {

}

.your {
    -fx-background-insets: 0 0 0 450px;
    -fx-border-insets: 0 0 0 450px;
}
.other {
    -fx-max-width: 350px;
}
.your .inner .header .sender {
    -fx-text-fill: #81EFEC;
    -fx-font-weight: bold;
}

.other .inner .header .sender {
    -fx-text-fill: #c477d3;
    -fx-font-weight: bold;
}

.writing_pane {
    -fx-pref-height: 38px;
    -fx-pref-width: 800px;
}

.writing_pane .writing_field {
    -fx-pref-height: 25px;
    -fx-pref-width: 705px;
}

.writing_pane .send_message {
    -fx-cursor: HAND;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
}