.main_pane {
    -fx-pref-height: 525px;
    -fx-pref-width: 350px;
}

.logo {
    -fx-pref-height: 59px;
    -fx-pref-width: 236px;
    -fx-text-alignment: CENTER;
    -fx-text-fill: #c477d3;
    -fx-font-size: 45px;
    -fx-alignment: CENTER;
}


.submit {
    -fx-pref-height: 38px;
    -fx-pref-width: 236px;
}

.input {
    -fx-pref-height: 34px;
    -fx-pref-width: 236px;
}